.about-page {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;

  h1 {
    margin-top: 100px;
  }

  ul {
    list-style: circle;
    margin-left: 20px;
  }

  .title-text a {
    color: red;
  }
}
