@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

body {
  @apply min-h-screen;

  background-color: #f2ede9;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

hr {
  @apply my-4;
}

strong {
  @apply font-semibold;
}

main {
  @apply flex flex-col;
}

#logo {
  @apply m-auto;
  @apply w-full;
  @apply max-w-md;
  @apply border-8;
  @apply border-black;
}

span.emoji {
  @apply text-2xl;
}

.how-to-box {
  @apply invisible;
}

.show {
  @apply visible;
}

.hide {
  @apply invisible;
}

.error {
  @apply flex flex-col;
  @apply rounded-lg;
  @apply p-3;

  @apply text-error-txt text-sm;
  @apply bg-error-bg;
  @apply border border-error-border;
  @apply shadow;

  @apply border-8;
  @apply border-black;

  &::before {
    content: "Error";

    @apply font-semibold;
    @apply text-base;
  }

  button {
    @apply inline-block;
    @apply mt-3 ml-auto;
    @apply px-2 py-1;
    @apply rounded-md;

    @apply font-semibold;
    @apply text-btn_error-txt text-xs;
    @apply bg-btn_error-bg;
    @apply border-btn_error-border;

    &:hover {
      @apply text-btn_error-hover_txt;
      @apply bg-btn_error-hover_bg;
      @apply border-btn_error-hover_border;
    }
  }
}

.footer {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  text-align: center;
}
.main-button {
  @apply rounded-full;
  border: 3px solid #eed9d8;
  background: #f42921;
  font-family: "Mulish", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 21.34px;
  text-align: left;
  color: #f2ede9;
  padding: 16px 24px 16px 24px;
  gap: 8px;
  transition: all 0.1s ease;

  &:hover {
    background: #f2ede9;
    color: #f42921;
  }

  &.secoundary-button {
    background: #2c231b;
    border: 1px solid #2c231b;

    &:hover {
      background: #ffffff;
      color: #000000;
    }
  }
  &.connect-button {
    display: flex;
    align-items: center;
    background: #2c231b;
    border: 1px solid #2c231b;
    padding: 8px 16px;

    &:hover {
      background: #ffffff;
      color: #000000;
    }
  }
}

input[type="text"] {
  @apply py-2 px-4;

  @apply rounded-full;

  @apply font-mono font-semibold;
  @apply text-txt_input-txt;
  @apply bg-txt_input-bg;
  @apply border border-txt_input-border;
  @apply shadow-sm;
  @apply outline-none;

  &:focus {
    @apply text-txt_input-focus_txt;
    @apply bg-txt_input-focus_bg;
    @apply border-txt_input-focus_border;
  }

  &:disabled {
    @apply opacity-50;

    &:hover {
      @apply cursor-not-allowed;
    }
  }
}

label {
  @apply mt-4 mb-1 ml-1;

  @apply font-semibold;
  @apply text-label text-sm;
}
